*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: #10462E;  
}

.home{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 812px;
    box-sizing: border-box;
    background-color: #10462E;
}

.home__destaque{
    width: 375px;
    height: 233px;
    background-color: #48D38F;
}

.home__destaque__imagem{
    margin-top: 48px;
    margin-left: 314px;
    cursor: pointer;
}

.home__destaque__propaganda{
    display: flex;
    justify-content: space-between;
    width: 343px;
    height: 135px;
    background-color: #10462E;
    border: #ffffff 0.5px solid;
    border-radius: 8px;
    margin-left: 14px;
}

.home__destaque__propaganda__textos{
    color:#ffffff;
    margin: auto;
    line-height: 30px;
}

.home__destaque__propaganda__textos__propaganda{
    font-family: 'abel',sans-serif;
    font-size: 18px;
}

.home__destaque__propaganda__textos__detalhes{
    font-family: 'abel',sans-serif;
    font-size: 15px;
}

.home__opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__opcoes__local{
    margin-top: 11px;
    width: 343px;
    height: 54px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: space-between;
}

.home__opcoes__local__input{
    height: 35px;
    margin: auto 15px;
    border: none;
    background-color: #E0E0E0;
}

.home__opcoes__local__input::placeholder{
    font-family: 'abel',sans-serif;
    color: #000000;
    font-size: 16px;
}

.home__opcoes__local__select{
    display: flex;
    margin: 10px 15px 0 0 ;
    justify-content: center;  
    width: 105px;
    height: 34px;
    background-color: #FFFFFF;
    border-radius: 1000px;
}

.home__opcoes__local__select__icone-relogio{
    width: 20px;
    height: 20px;
    margin-block: auto;
}

.home__opcoes__local__select__opcoes{
    border: none;
}

.home__opcoes__lugares-favoritos{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    width: 335px;
    height: 34px;
    box-sizing: border-box;
}

.home__opcoes__local__select__opcoes__opcao{
  font-size: 16px;
  text-align: center;
}

.home__opcoes__lugares-favoritos__imagem-estrela{
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    padding: 7px;
    border-radius: 1000px;
}

.home__opcoes__lugares-favoritos__texto{
    margin: auto;
    font-family: 'abel',sans-serif;
    font-size: 16px;
    margin-right: 29px;
    color: #FFFFFF;
}

.home__opcoes__lugares-favoritos__seta{
    width: 7.41px;
    height: 12px;
    margin-block: auto;
}

.home__opcoes__vetor-divisao{
    margin-top: 22px;
    width: 303px;
    height: 0.1px;
    margin-inline-start: auto;
}

.home__opcoes__roteiro{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    width: 335px;
    height: 34px;
    box-sizing: border-box;
}

.home__opcoes__roteiro__seta-posicao{
    background-color: #FFFFFF;
    width: 9px;
    height: 13px;
    padding: 10px 12px 11px 13px ;
    border-radius: 1000px;
}

.home__opcoes__roteiro__texto{
    margin: auto ;
    margin-right: 125px;
    font-family: 'abel',sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.home__opcoes__roteiro__seta{
    width: 7.41px;
    height: 12px;
    margin-block: auto;
}

.home__destaque__proximo-a-voce{
    display:flex;
    flex-direction: column;
    margin-top: 15px;
}

.home__destaque__proximo-a-voce__texto{
    margin-left: 24px;
    font-size: 18px;
    font-family: 'abel',sans-serif;
    color: #EFAC29;
}

#map{
    margin-top:16px;
    width: 342px;
    height: 183px;
    margin-inline: auto;
}

@media (max-width:480px){
    body{
        display: flex;
        justify-content: center;
        background-color: #10462E;  
    }
    
    .home{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 98.7vh;
        box-sizing: border-box;
        background-color: #10462E;
    }
    
    .home__destaque{
        width: 100vw;
        height: 190px;
        background-color: #48D38F;
    }

    .home__destaque__imagem{
        margin: 30px 0px 0 75%;
        cursor: pointer;
    }
    
    .home__destaque__propaganda{
        display: flex;
        width: 275px;
        height: 110px;
        background-color: #10462E;
        border: #ffffff 0.5px solid;
        border-radius: 8px;
        margin-left: 0px;
        margin: auto;
    }

    .home__destaque__propaganda__textos__propaganda{
        font-family: 'abel',sans-serif;
        font-size: 14px;
    }
    .home__opcoes__local{
        margin-top: 11px;
        width: 280px;
        height: 50px;
        background-color: #E0E0E0;
        display: flex;
        justify-content: space-between;
    }

    .home__opcoes__local__input{
        height: 35px;
        width: 120px;
        margin: auto 3px;
        border: none;
        background-color: #E0E0E0;
    }
    
    
    .home__opcoes__lugares-favoritos{
        display: flex;
        justify-content: space-between;
        margin-top: 19px;
        width: 276px;
        height: 34px;
        box-sizing: border-box;
    }

    .home__opcoes__lugares-favoritos__texto{
        margin: auto;
        font-family: 'abel',sans-serif;
        font-size: 14px;
        color: #FFFFFF;
    }
    

    .home__opcoes__vetor-divisao{
        margin-top: 22px;
        width: 250px;
        height: 0.1px;
        margin-inline-start: auto;
    }

    .home__opcoes__roteiro{
        display: flex;
        justify-content: space-between;
        margin-top: 23px;
        width: 276px;
        height: 34px;
        box-sizing: border-box;
    }

    .home__opcoes__roteiro__texto{
        margin: auto ;
        font-family: 'abel',sans-serif;
        font-size: 14px;
        color: #FFFFFF;
    }

    #map{
        margin-top:10px;
        width: 90vw;
        height: 20vh;
        margin-inline: auto;
    }
    
}
