*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#263A31;
}

main{
    display: flex;
    justify-content: center;
}

.conteudo{
    width: 375px;
    height: 812px;
    margin-left: 16px;
}

.conteudo__texto-digite-numero{
    margin-top: 58px;
    font-size: 16px;
    color: #F8F8F8;
    font-family: 'abel',sans-serif;  
}

.conteudo__campo-de-contato{
    margin-top: 35px;
    display: flex;  
    height: 49px;
}

.conteudo__campo-de-contato__select{
    padding-right: 7px;
    width: 104px;
}

.conteudo__campo-de-contato__local-numero{
    width: 232px;
}

.conteudo__campo-de-contato__erro{
    color: #EFAC29;
    font-family: 'abel',sans-serif;
}

.conteudo__botao-proximo{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #FF793F;
    width: 347px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.conteudo__texto-de-verificacao{
    color: #EFAC29;
    width: 350px;
    margin-top: 38px;
    font-size: 14px;
    font-family: 'abel',sans-serif;
    line-height: 21.46px;
}


.conteudo__texto-de-verificacao-dois{
    color: #EFAC29;
    font-size: 14px;
    font-family: 'abel',sans-serif;
    line-height: 21.46px;
}

.conteudo__outras-opcoes-de-login{
    margin-top: 40px;
    display: flex;
    align-items: center;
    margin-right: 12.6px;
}

.conteudo__outras-opcoes-de-login__vetor{
    height: 0.7px;
    width: 152.5px;
}

.conteudo__outras-opcoes-de-login p{
    padding-right: 12.6px;
    padding-left: 12.6px;
    color: #FFFFFF;
}

.conteudo__plataformas{
    display: flex;
    flex-direction: column;
    
}

.conteudo__plataformas__login-com-outra-plataforma{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 343px;
    border-radius: 2px;
    border: #FFFFFF 1px solid;
    margin-top: 19px;
}

.conteudo__plataformas__login-com-outra-plataforma__imagem{
    margin-left: 11px;
}

.conteudo__plataformas__login-com-outra-plataforma__texto{
    color:#FFFFFF;
    margin-left: 58px;
    font-family: 'abel', sans-serif;
    text-decoration: none;
}

.conteudo__campo-de-contato__custom-select {
    position: relative;
    width: 104px;
    cursor: pointer;
    user-select: none;
    margin-right: 7px;
}

.conteudo__campo-de-contato__custom-select .conteudo__campo-de-contato__custom-select__selected-option {
    display: flex;
    align-items: center;
    height: 49px;
    justify-content: space-around;
    background-color: #fff;
}

.conteudo__campo-de-contato__custom-select img {
    max-width: 43px;
    max-height: 27px;
    margin-right: 5px;
}

.conteudo__campo-de-contato__custom-select .conteudo__campo-de-contato__custom-select__options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    z-index: 1;
}


.conteudo__campo-de-contato__custom-select .conteudo__campo-de-contato__custom-select__options__option {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    
}

.conteudo__campo-de-contato__custom-select .conteudo__campo-de-contato__custom-select__options__option:hover {
    background-color: #f0f0f0;
}

.sign-up{
    width: fit-content;
    margin: auto;
    cursor: pointer;
}

.sign-up-text:hover{
    color: #EFAC29;
    border: #EFAC29 solid 1px;
}

.sign-up-text{
    text-align: center;
    margin-top: 10%;
    font-family: 'abel', sans-serif;
    color: #f0f0f0;
    padding: 4px;
    border: #FFFFFF solid 1px;
}

@media (max-width:480px){
    .conteudo{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }

    .conteudo__texto-digite-numero{
        margin-top: 40px;
        font-size: 16px;
        color: #F8F8F8;
        font-family: 'abel',sans-serif;  
    
    }

    .conteudo__campo-de-contato__custom-select {
        position: relative;
        width: 87px;
        cursor: pointer;
        user-select: none;
        margin:0 5px 0 0;
    }
    
    .conteudo__campo-de-contato{
        margin-top: 20px;
        display: flex;  
        height: 49px;
        width: 270px;
    }

    .conteudo__campo-de-contato__erro{
        font-size: 12px;
        color: #EFAC29;
        font-family: 'abel',sans-serif;
    }
    
    .conteudo__botao-proximo{
        color: #FFFFFF;
        text-decoration: none;
        background-color: #FF793F;
        width: 270px;
        height: 49px;
        display: flex;
        align-items: center;
        margin: 10px 0 0 0;
    }

    .conteudo__texto-de-verificacao{
        color: #EFAC29;
        margin-top: 38px;
        font-size: 14px;
        font-family: 'abel',sans-serif;
        width: 270px;
        text-align: center;
    }

    .conteudo__outras-opcoes-de-login__vetor{
        height: 0.7px;
        width: 112px;
    }
    
    .conteudo__plataformas__login-com-outra-plataforma{
        display: flex;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 270px;
        height: 30px;
        border-radius: 2px;
        border: #FFFFFF 1px solid;
        margin-top: 10px;
    }

}


